body {
    color: #FAFAFA;
    background: rgb(71,27,98);
    background: linear-gradient(90deg, rgba(71,27,98,1) 32%, rgba(132,77,175,1) 80%, rgba(185,107,225,1) 100%);
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 200px;
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doImage {
    border-radius: 2em;
    width: 16em;
    height: 16em;
}

.bday-img{
    border-radius: 2em;
    width: 22em;
    height: 18em;
    margin-top: 2em;
}

.barilli-img{
    border-radius: 2em;
    width: 18em;
    height: 18em;
    margin-top: 2em;
}

.google-form{
    border-radius: 2em;
    background-color: #587fa1;
    padding: 0.9em;
    margin: 1em;
}

.chiki-img{
    border-radius: 2em;
    width: 22em;
    height: 20em;
    margin-top: 2em;
}

.input-name {
    width: 16em;
    height: 3em;
    border-radius: 5px;
}

h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 200px;
    font-size: 1.7rem;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #007bff;
    color: #ffffff;
    /* Text color */
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-top: 0.5em;
}

#continue-button{
    margin-top: 1.2em;
}

#yes-button{
    background-color: #28a745;
    border-color: #28a745;
    width: 6.5em;
    height: 4em;
    margin: 1em;
}

#no-button{
    background-color: rgb(191, 7, 7);
    border-color: rgb(191, 7, 7);
    width: 6.5em;
    height: 4em;
    margin: 1em;
}

button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.yes-or-no-button-container{
    padding: 1.2rem;
    display: flex;
    background-color: rgba(132,77,175,1);
    border-radius: 2em;
    border-style: solid;
    border-color: #FAFAFA;
}